table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 90%;
    margin:auto; 
    color: darkred;
  }
  
  td, th {
    
    border-bottom:1px solid lightgray;
    text-align: left;
    padding: 8px;
    vertical-align:middle;
    text-align: center;
  }
  
  tr:nth-child(even) {
    background-color: lightgray;
    border-top:1px solid lightgray;
    border-bottom:1px solid lightgray;
  }

  tr:nth-child(odd) {
    background-color: white;
    
  }

  h1 {
    caption-side:top;
    text-align:left;

  }

.bal {
    text-align: left;
}